/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 110px;
    padding-bottom: 20px;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
  
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Set margin for the box when toggle */
.navbar-toggle{
    margin-top: 30px;
}

/* Set margin for the navigation text*/
.nav.navbar-nav.navbar-right{
    margin-top: 5px;
    text-align: center;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
    .nav.navbar-nav.navbar-right {
        text-align:center;

        padding: 28px 0px 28px 0px;
    }
}

